.TodayNutritionSummary {
  min-height: 100px;
  width: 100%;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-border-color);
}

.title {
  background-image: var(--bg-image-gradient-two);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.date {
  color: var(--heading-text-color);
  font-size: var(--giant-font-size);
  letter-spacing: 2px;
}

.actions {
  height: 100%;
  display: flex;
  gap: 5px;
}

.macros {
  display: flex;
  gap: 5px;
  padding: 5px;
}
